<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>vocabulary</title>

    <style>
input {
    margin-top: 29px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

button{
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black
}
.table {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

    </style>
</head>
<body>
    <form action="/new" method="post">
    <input type="text" required placeholder="português" name="portugues" id="">
    <input type="text" required placeholder="ingles" name="ingles" id="">
    <button>guardar</button>
    </form>



    <table class="table">
        <thead>
          <tr>
            <th scope="col">palavra</th>
            <th scope="col">tradução</th>
          </tr>
        </thead>
        <tbody><% vocabulary.forEach((vocabulary) =>{ %>


            <tr>
                <td><%= vocabulary.word %></td>
                <td><%= vocabulary.translate %></td>
            </tr>


      <%  }) %>
            
         
        </tbody>
      </table>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>